<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <title>BW OLX</title>
    <style>
        .btn:hover {
            color: aquamarine;
        }

        #heading {

            margin-bottom: 25px;
            font-size: 55px;
        }

        #para1 {

            margin-bottom: 30px;
            font-size: 40px;
        }

        body {
            background-image: url("https://static.vecteezy.com/system/resources/previews/006/852/804/original/abstract-blue-background-simple-design-for-your-website-free-vector.jpg");
            background-size: auto;
            color: whitesmoke;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            height: auto;

        }

        #welcometext {
            color: whitesmoke;
            margin-top: 80px;
        }

        #sellbox:hover {
            cursor: pointer;


        }

        #viewbox:hover {
            cursor: pointer;
        }

        a {
            text-decoration: none;
            color: whitesmoke;
        }

        a:hover {
            text-decoration: none;
            color: whitesmoke;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg" style="background-color: blanchedalmond;">
        <div class="container-fluid">
            <img src="https://cdn.icon-icons.com/icons2/600/PNG/256/ecommerce-icons_icon-icons.com_55741.png"
                alt="avatar logo" class="rounded-pill" style="width:40px; margin: 5px;">
            <a class="navbar-brand" href="#">BW OLX</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About Us</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Contact Us
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Address</a></li>
                            <li><a class="dropdown-item" href="#">Helpline</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Rate us</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">Subscriptions</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="http://127.0.0.1:5500/BWproject/login.html"
                                    target="_blank">Login</a>
                            </li>
                            <li><a class="dropdown-item" href="http://127.0.0.1:5500/signup.html" target="_blank">Sign
                                    Up</a></li>
                        </ul>
                    </li>
                </ul>
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit"
                        style="background-color: rgb(255 255 210); ">Search</button>
                </form>
            </div>
        </div>
    </nav>
    <div class="container-fluid pt-5 text-center" id="welcometext">
        <h1 id="heading">Welcome To BW OLX!.</h1>
        <h3 id="para1">A place to buy, A place to sell.</h3>
        <div class="container pt-2 text-center">
            <h6 id="para2">You can click the pictures of the items you wish to sell and upload them in the
                <i>sell items menu.</i>The price of your product would be decided by the quality and condition observed
                by our agent.You can also buy your desireable items available in the <i>view items menu.
                </i>
            </h6>
        </div>
    </div>
    <div class="container-fluid my-5 p-4" id="container1">
        <div class="row" style="height: 200px;">
            <div class="col"></div>

            <div class="col text-center" style="border: 3px outset white; border-radius: 35px;" id="viewbox">
                <a href="/viewitems">
                    <img src="https://static.vecteezy.com/system/resources/previews/004/999/463/original/shopping-cart-icon-illustration-free-vector.jpg"
                        alt="Shopping Cart Icon" style="width: 80px;height: 80px; margin: 20px; "
                        class="mx-auto d-block rounded-pill">
                    <p style="font-size: 30px;">View Items</p>
                </a>
            </div>

            <div class="col"></div>
            <div class="col text-center" style="border: 3px outset white; border-radius: 35px;" id="sellbox">
                <a href="/sellitems">
                    <img src="https://media.istockphoto.com/id/1151557689/vector/vector-image-of-a-flat-isolated-icon-dollar-sign-currency-exchange-dollar-united-states.jpg?s=612x612&w=0&k=20&c=XxoU_vrc2LCsrlRnmZHysq6HG_tBIUsPVVxi0VeTCKA="
                        alt="Dollar Sign Icon" style="width: 80px;height: 80px; margin: 20px; "
                        class="mx-auto d-block rounded-pill">
                    <p style="font-size: 30px;">Sell Items</p>
                </a>
            </div>
            <div class="col"></div>
        </div>
    </div>
    <div class="container-fluid" style="background-color: blanchedalmond; font-size: 18px;">
        <footer class="py-3 my-4">
            <ul class="nav justify-content-center border-bottom pb-3 mb-3">
                <li class="nav-item"><a href="/home" class="nav-link px-2 text-muted">Home</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Features</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Pricing</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">FAQs</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About</a></li>
            </ul>
            <p class="text-center text-muted">© 2023 Birla White, Inc</p>
        </footer>
    </div>
</body>
<script>

</script>

</html>